<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
  <!-- for latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
  
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

        
</head>
<body>  
    <section class="vh-100 gradient-custom-2">
        
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-10 col-lg-8 col-xl-6">
              <div class="card card-stepper" style="border-radius: 16px;">  
                <div class="card-header p-4">
                  <div class="d-flex justify-content-between align-items-center">
                    <div style="padding-left:  40px; padding-right:  40px; padding-top:  10px; padding-bottom:  10px">
                      <p class="text-muted mb-2"> Order ID: <span class="fw-bold text-body"><%= rental[0].reservation_id %></span></p>
                      <p class="text-muted mb-0"> 
                        <% if(rental[0].reserve_status == 5){ %>
                          Current Status: <span class="fw-bold text-body">Finished</span>
                        <% } else { %>
                          Current Status: <span class="fw-bold text-body">Ongoing</span>
                        <% } %>
                      </p>
                    </div>
                    
                  </div>
                </div>
                <div class="card-body p-4"> 
                  <div class="d-flex flex-row mb-4 pb-2">
                    <div class="flex-fill" style="padding-left:  40px; padding-right:  40px; padding-top:  20px">
                      <h5 class="bold">Item: <%= rental[0].item_name %></h5>
                      <p class="text-muted"> Quantity: <%= rental[0].quantity %></p>
                      <h5 class="mb-3"> Total Amount <br> (including deposit): ₱<%= rental[0].total_amount.toFixed(2) %> <span class="small text-muted"> via (COD) </span></h5>
                      <h6>BREAKDOWN:</h6>
                      <h6>Days: <%= rental[0].rental_days %></h6>
                      <h6>Rental Rate: ₱<%= rental[0].rental_rate.toFixed(2) %> <span class="small text-muted"> per day </span></h6>                      
                      <h6>Total Rental Rate: ₱<%= (rental[0].rental_days * rental[0].rental_rate.toFixed(2) * rental[0].quantity).toFixed(2) %> <span class="small text-muted"> (Quantity * Rental Rate * Days)</span></h6>
                      <h6 class="mb-3">Replacement Cost: ₱<%= rental[0].replacement_cost %></h6>
                      <h6 class="mb-3">Owner: <%= rental[0].owner_username %></h6>
                      <h6 class="mb-3">Client: <%= rental[0].customer_username %></h6><br>
                      <h5>SHIPPING INFORMATION</h5>
                      <h6 class="" style="margin-bottom: 0">Owner: <span class="text-muted"> <%= owner_address[0].full_name %> </span> </h6>
                      <h6 class="" style="margin-bottom: 0">Owner's Contact Info: <span class="text-muted"> <%= rental[0].owner_phone_num %> </span> </h6>
                      <h6 class="mb-3" style="margin-bottom: 0">Owner Address: <span class="text-muted"> 
                        <%= owner_address[0].house_number %>, 
                        <%= owner_address[0].street %>, 
                        <%= owner_address[0].barangay %>,
                        <%= owner_address[0].district %>, 
                        <%= owner_address[0].city_prov %> 
                      </span> </h6>

                      <h6 class="" style="margin-bottom: 0">Client: <span class="text-muted"> <%= customer_address[0].full_name %> </span> </h6>
                      <h6 class="" style="margin-bottom: 0">Customer's Contact Info: <span class="text-muted"> <%= rental[0].customer_phone_num %> </span> </h6>
                      <h6 class="mb-3" style="margin-bottom: 0">Client Address: <span class="text-muted"> 
                        <%= customer_address[0].house_number %>, 
                        <%= customer_address[0].street %>, 
                        <%= customer_address[0].barangay %>,
                        <%= customer_address[0].district %>, 
                        <%= customer_address[0].city_prov %> 
                      </span> </h6>

                      <p class="text-muted">Rental Start: <span class="text-body"><%= rental[0].reservation_start.toDateString() %></span></p>
                      <p class="text-muted">Rental End: <span class="text-body"><%= rental[0].reservation_end.toDateString() %></span></p>
                    </div>
                    <div>
                      <img class="align-self-center img-fluid"
                        src="<%= rental[0].image_path %>" width="250">
                    </div>
                  </div>                  
                </div>
                
              </div>
            </div>
          </div>       
      </section>
</body>
</html>
