<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    
	<link rel="stylesheet" href="/assets/dashboard_requests.css">
	<title>Rental Requests</title>
</head>
<body>
	<!-- SIDEBAR -->
    <%- include ('dashboard_sidebar') -%>

	<section id="content">
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#">
				<div class="form-group">
				</div>
			</form>
			
		</nav>
    <div id="liveAlertPlaceholder" style="text-align: center; margin-top: 3px;"></div>
		<div class="dash-content">
            <div class="overview">
                <div class="title">
			<h1 class="title">Rental Requests</h1>
			</div>
		<div class="boxes"  style="overflow-x:auto;">
      <% if(result.length == 0) { %>
        <h2 style="text-align:center">You have no rental requests at the moment</h2>
      <% }else if(result) { %>

            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Rental Date</th>
                    <th scope="col">Return Date</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Mode Of Payment</th>
                    <th scope="col">Client ID</th>
                    <th scope="col">Action</th>
                </thead>
                <tbody>
                  <% result.forEach(function(rental){ %>
                    <tr>
                    <td id="id"><%= rental.reservation_id %></td>
                    <td id="itemName"><%= rental.item_name %> </td>                    
                    <td id="startDate"><%= rental.reservation_start.toDateString() %> </td>
                    <td id="endDate"><%= rental.reservation_end.toDateString() %> </td>
                    <td id="itemQty"><%= rental.quantity %> </td>
                    <td id="totalAmount"><%= rental.total_amount.toFixed(2) %></td>
              <% if(rental.mode_of_payment == 2 ){%>
                <% if(rental.online_payment == 0 ){%>
                <td id="modePayment">Gcash<br>Payment is still pending.</td> 
              <% } else {%>
                <td id="modePayment">Gcash<br>
                    <br><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#GModal" onClick="showModal(<%= rental.reservation_id %>,`<%= rental.reservation_start.toDateString() %>`, `<%= rental.reservation_end.toDateString() %>`, `<%= rental.item_name %>`, `<%=rental.quantity %>`, `<%=rental.rental_rate %>`, `<%=rental.replacement_cost %>`, `<%=rental.total_amount %>`, `<%=rental.online_payment %>`)">Gcash Payment</button><br></td>
              <%}%>
              <% } else if (rental.mode_of_payment == 3 ){%>
              <td id="modePayment">Cash On Delivery<br> </td>              
              <%}%>
                    <td id="clientId"><%= rental.customer_id %> </td>
                    <td id="action"><div class="p-1">
                      <button class="btn btn-success button-1" data-bs-toggle="modal" data-bs-target="#requestApproveModal" data-id="1" onclick="requestApproveDeny(<%= rental.reservation_id %>)">Approve</button><br>
                      <button class="btn btn-danger button-2" data-bs-toggle="modal" data-bs-target="#requestDenyModal" data-id="2" onclick="requestApproveDeny(<%= rental.reservation_id %>)">Deny</button><br>
                      <p id="status" class="py-1"></p>
                    </div></td>
                  <% }) %>               
                  
                </tbody>
              </table>
		</div>
	</section>
  <% } %>


<!-- GCASHModal -->
        <div class="modal fade" id="GModal" role="dialog">
        <div class="modal-dialog">
<!-- Modal content-->
            <div class="modal-content" style= "width: 750px; ">
              <div class="modal-header" style ="background-color: #33cccc; color: white;">
                  <h4 class="modal-title" style ="background-color: #33cccc; color: white;">Payment Confirmation</h4>
                <span class="close" data-dismiss="modal" style = " color: white;" >&times;</span>
              </div>
              <div class="modal-body" style="background-color: white;">

                    <div class="container" style="color: black; width: 650px; height: auto; background-color: white; font-family: 'Poppins'; font-size: medium;" >
                        <div class="p-5 my-4 bg-white rounded-3">
                            <img src="/images/GCash-Logo.png" style="width: 200px; height:120px;">
                            <p><strong>Name: </strong>  <br>
                                <strong>Contact no.:  </strong><br>
                                <hr>
                                <strong>Reservation Start: <span id="gResStart"></strong></span><br>
                                <strong >Reservation End:  <span id="gResEnd"></span></strong><br>
                                <strong >Item Name:<span id="gItemName"></span></strong> <br>
                                <strong >Quantity</strong> <span id="gQuantity"></span> <br>
                                <strong>Rental Fee:</strong> ₱<span id="gRental"></span><br>
                                <strong>Deposit Fee:</strong> ₱<span id="gReplacement"></span> <br>
                                <br>
                                <strong>Total:</strong> ₱<span id="gTotal"></span><br>
                                <hr>
                                <h4>Proof of Payment</h4>
                                <a id="aLink" href= ""><img id= "gPayment" style="width: 400px;" src="" alt=""></a>
                    </div>
                    <br>
                    <br>
              </div>
              <div class="modal-footer">
               <button type="button" class="btn btn-default" data-bs-dismiss="modal" >Close</button>
              </div>
            </div>
          </div>
          </div>
        </div>
        </div>
  </form> 

    <!-- MODAL FOR APPROVE-->
    <form action="/dashboard/lessor/requests/approve" method="post">
        <div class="modal fade" id="requestApproveModal" tabindex="-1" aria-labelledby="requestApproveModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateConfirmModalLabel">REQUEST APPROVAL</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                You are about to APPROVE the rental request for order ID number <span id="orderNum" value=""></span>. Proceed?
                <input type="hidden" name="orderId" id="reservationIdHidden" value="">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="submit" class="btn btn-primary">Yes</button>
              </div>
            </div>
          </div>
        </div>      
      </form>

      <!-- MODAL FOR DENY-->
    <form action="/dashboard/lessor/requests/deny" method="post">
      <div class="modal fade" id="requestDenyModal" tabindex="-1" aria-labelledby="requestDenyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateConfirmModalLabel">REQUEST DENIAL</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              You are about to DENY the rental request for order ID number <span id="orderNum2" value=""></span>. Proceed?
              <input type="hidden" name="orderId" id="reservationIdHidden2" value="">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
              <button type="submit" class="btn btn-primary">Yes</button>
            </div>
          </div>
        </div>
      </div>      
    </form>

	<script src="/assets/scripts/dashboard_requests.js"></script>
</body>
<script>

      function showModal(reserve_id ,reservation_start, reservation_end, item_name, quantity, rental_rate, deposit_fee, total_fee, gPayment){
        document.getElementById("gResStart").innerHTML = reservation_start;
        document.getElementById("gResEnd").innerHTML =reservation_end;
        document.getElementById("gQuantity").innerHTML = quantity;
        document.getElementById("gRental").innerHTML =rental_rate;
        document.getElementById("gReplacement").innerHTML =deposit_fee;
        document.getElementById("gItemName").innerHTML =item_name;
        document.getElementById("gTotal").innerHTML = total_fee;
        document.getElementById("gPayment").src = gPayment;
        document.getElementById("aLink").href = gPayment;
        document.getElementById("reservation_id").setAttribute("value", reserve_id);
        }

  async function getStatus(){   
    var status = '<%=status%>'

    if(status == 'requestDenied'){
      const alertPlaceholder = document.getElementById('liveAlertPlaceholder')    
      const wrapper = document.createElement('div')
      wrapper.innerHTML = [
        `<div class="alert alert-danger alert-dismissible" role="alert">`,
        `   <div>Request Denied!</div>`,
        '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
        '</div>'
      ].join('')

      alertPlaceholder.append(wrapper)   
    }
  }
  
  getStatus()

function requestApproveDeny(num){
  orderNum = document.getElementById('orderNum');
  orderNum2 = document.getElementById('orderNum2');
  orderNum.textContent = num;
  orderNum2.textContent = num;

  reservationId = document.getElementById("reservationIdHidden");
  reservationId.setAttribute("value", num);
  reservationId2 = document.getElementById("reservationIdHidden2");
  reservationId2.setAttribute("value", num);
}

</script>
</html>
