<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    
	<link rel="stylesheet" href="/assets/dashboard_requests.css">
	<title>Denied Requests</title>
</head>
<body>
	<!-- SIDEBAR -->
    <%- include ('dashboard_sidebar') -%>

	<section id="content">
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#">
				<div class="form-group">
				</div>
			</form>
			
		</nav>
		<div class="dash-content">
            <div class="overview">
                <div class="title">
			<h1 class="title">Denied Rental Requests</h1>
			</div>
		<div class="boxes"  style="overflow-x:auto;">

      <% if(result.length == 0) { %>
        <h2 style="text-align:center">You have no denied requests</h2>
      <% }else if(result) { %>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Item Name</th>
              <th scope="col">Rental Date</th>
              <th scope="col">Return Date</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total Amount</th>
              <th scope="col">Mode Of Payment</th>
              <th scope="col">Client ID</th>
          </thead>
          <tbody>
            <% result.forEach(function(rental){ %>
              <tr>
              <td id="id"><%= rental.reservation_id %></td>
              <td id="itemName"><%= rental.item_name %> </td>                    
              <td id="startDate"><%= rental.reservation_start.toDateString() %> </td>
              <td id="endDate"><%= rental.reservation_end.toDateString() %> </td>
              <td id="itemQty"><%= rental.quantity %> </td>
              <td id="totalAmount"><%= rental.total_amount.toFixed(2) %></td>
              <td id="modeOfPayment"><%= rental.mode_of_payment %></td>
              <td id="clientId"><%= rental.customer_id %> </td>
            <% }) %>               
            
          </tbody>
        </table>
		</div>
	</section>

  <% } %>    

	<script src="/assets/scripts/dashboard_requests.js"></script>
</body>

<script>

    function undoDeny(num){
      orderNum = document.getElementById('orderNum');
      orderNum.textContent = num;
    
      reservationId = document.getElementById("reservationIdHidden");
      reservationId.setAttribute("value", num);
    }
    
</script>

</html>