<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mang Hiram</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
    <div class="p-5 my-4 bg-light rounded-3">
        <center><img src="/images/system_images/deliver.png"></center>
        <h3>Delivery Confirmation</h3> <br>
          <h5 class="bold">Item: <%= result.rows[0].item_name %></h5>
          <p class="text-muted"> Quantity: <%= result.rows[0].quantity %></p>
          <h6 class="mb-3"> Total Amount <br> (including deposit): ₱<%= result.rows[0].total_amount %> <span class="small text-muted"> via (COD) </span></h6>
        <p><strong>Sender:</strong> <%= result.rows[0].owner_username %> <br>
            <strong>Contact no.:</strong><%= result.rows[0].owner_phone_num%><br>
            <i class="fa-solid fa-location-pin"></i> <%= result.rows[0].owner_address%><br>
            <hr>
            <strong>Receiver:</strong> <%= result.rows[0].customer_username %> <br>
            <strong>Contact no.:</strong> <%= result.rows[0].customer_phone_num %><br>
            <i class="fa-solid fa-location-dot"></i> <%= result.rows[0].customer_address%></p>

      </div>
    <div class="row">
        <div class="container">
          <form action="/dashboard/courier/confirmation/<%= result.rows[0].reservation_id %>" method="post">
            
            <br>
            <h3>Proof of Delivery</h3>
        <div style="width: 400px;">
        <label for="formFileLg" class="form-label">Upload an image here</label>
        <input class="form-control form-control-lg" id="formFileLg" name="formFileLg" type="file" required/>
        <input type="hidden" id="imageFileb64" name="imageFileb64">
</div>
            <br>
                <h3>Order Status</h3>
                
            <ul class="nav nav-pills">
              <li class="active"><a data-toggle="pill" href="#status">Out for Delivery</a></li>
              <li><a data-toggle="pill" href="#fail">Failed</a></li>
              <li><a data-toggle="pill" href="#complete">Completed</a></li>
            </ul>
            
            <div class="tab-content">
                <div id="status" class="tab-pane fade in action">
                    <br>
                </div>

              <div id="fail" class="tab-pane fade">
                <br>
    
                        <p>Unsuccessful Delivery attemp due to:</p>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reason" id="1" value="Address is incomplete or invalid.">
                            <label class="form-check-label" for="1">
                              Address is incomplete or invalid.
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="reason" id="2" value="Address is temporarily inaccessible.">
                            <label class="form-check-label" for="2">
                              Address is temporarily inaccessible.
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="reason" id="3" value="Receiver could not be contacted.">
                            <label class="form-check-label" for="3">
                              Receiver could not be contacted.
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="reason" id="4" value="Receiver is not identified at the delivery location.">
                            <label class="form-check-label" for="4">
                              Receiver is not identified at the delivery location.
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="reason" id="5" value=" The Item was rejected by the receiver.">
                            <label class="form-check-label" for="5">
                              The Item was rejected by the receiver.
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="reason" id="6" value="Other factors cannot be controlled, such as natural disasters, epidemics and others">
                            <label class="form-check-label" for="6">
                              Other factors cannot be controlled, such as natural disasters, epidemics and others
                            </label>
                          </div>
                          <br>
                          <p>Note: Upload a photo for proof</p>

                    <button type="submit" id="danger" name="updateButton" value="2" class="btn btn-danger m-1 btn-lg">Return to Sender</button>
                   
            </div>

              <div id="complete" class="tab-pane fade">
                <br>
                <br>
                <center>
                <!-- for Alert-->
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>Success!</strong> Item Successfully Delivered to Client.
                  </div>
                 <!-- Button trigger modal -->
                 <button type="submit" id="success" name="updateButton" value="3" class="btn btn-success m-1 btn-lg">
                    Item Delivered
                 </button>
                </center>
        <br>
        <br>
                </div>
            
            </div>
          </form>
          </div>

        <section style="height: 300px;"></section>
        
</div>

    <hr>
    
</div>
</body>

<script>
  function readFile() { 
     if (!this.files || !this.files[0]) return;         
     const FR = new FileReader();
        
     FR.addEventListener("load", function(evt) {
        document.querySelector("#imageFileb64").value = evt.target.result;
     });          
     FR.readAsDataURL(this.files[0]);      
     }

     document.querySelector("#formFileLg").addEventListener("change", readFile);     
</script>

</html>
